<div class="detail-section">
    <div class="container-fluid">
        <!-- so in the same component, the {{}} will read the field from the ts file-->
        <!-- <p style="margin-top: 100px">{{product.name}}</p> -->

        <img src="{{product.imageUrl}}" class="detail-img">

        <h3>{{product.name}}</h3>
        <div class="price">
            {{product.unitPrice | currency: 'USD'}}
        </div>
        <button mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    
    </div>

</div>