<div class="login-status-header">
    <div class="login-status-user-info text-base pr-5 " *ngIf="isAuthenticated && userFullName">
        Welcome back {{userFullName}}!

    </div>
    <button mat-raised-button  *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login </button>
    <button mat-raised-button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout </button>
    <button mat-raised-button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ">Member</button>
    <button mat-raised-button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ">Orders</button>
</div>