<div class="login-status-header">
    <div class="login-status-user-info text-base pr-5" *ngIf="(auth.isAuthenticated$ | async) && userFullName">
        Welcome back {{userFullName}}!
    </div>    
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button mat-raised-button (click)="handleLogout()" class="security-btn">Logout</button>
        <button mat-raised-button routerLink="/members" class="security-btn">Member</button>
        <button mat-raised-button routerLink="/order-history" class="security-btn">Orders</button>
    </ng-container>

    <ng-template #loggedOut>
        <button mat-raised-button (click)="auth.loginWithRedirect()" class="security-btn">Login</button>
    </ng-template>
</div>
