<div class="main-content">
    <div class="mx-auto max-w-2xl px-4 py-10 sm:px-6  lg:max-w-7xl lg:px-8">
        <h4 class="text-2xl font-bold tracking-tight text-gray-900">{{currentCategoryName}}</h4>
        <hr>
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

            <div *ngFor="let temp of products">
                <div class="group relative">

                    <div
                        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-60">
                        <a routerLink="/products/{{temp.id}}">
                            <img src="{{ temp.imageUrl}}" class="h-full w-full object-cover object-center">
                        </a>
                    </div>

                    <div class="mt-4 flex justify-between">
                        <div>
                            <a routerLink="/products/{{temp.id}}">
                                <h1 class="text-sm text-gray-700">
                                    <span aria-hidden="true" class="absolute"></span>{{ temp.name }}
                                </h1>
                            </a>
                        </div>

                        <div class="flex flex-col items-end">
                            <div class="text-sm font-medium text-gray-900 text-right"> {{ temp.unitPrice |
                                currency:'USD' }} </div>
                            <button (click)="addToCart(temp)"
                                class="mt-2 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Add
                                to cart</button>
                        </div>
                    </div>


                </div>
            </div>

            <!--if products empty then display a message-->
            <!-- /? is safe navigation operator Guards against null and undefined values in property paths-->
            <!--if (products is null or undefined) or (length==0)  -->
            <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                No products found
            </div>

        </div>
    </div>
</div>

<!--begin footer-->
<!-- ng-bootstrap 
                special angular syntax for two-way data binding [()]
                [] this is one way data binding, it will get the result from the service
                () this is one way data binding, for event binding, when user click page change, it will sent the event to the service. -->
<div class="footer--pagination flex justify-center">
    <div class="flex items-center">
        <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
            [maxSize]="5" [boundaryLinks]="true" (pageChange)="listProducts()">
        </ngb-pagination>
        <div class="ml-4 flex items-center">
            <span class="mr-2">Page Size</span>
            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                <option selected="true">5</option>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
            </select>
        </div>
    </div>
</div>

<!--end footer-->