<div class="page-wrapper bg-my-img  bg-contain">

  <!-- MENU SIDEBAR-->

  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="El&ZL shop" class="h-20 w-20 rounded-full">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>

  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="pl-[200px]  top-1/2 left-1/2 ">
    <!-- HEADER DESKTOP-->
    <header class="  h-[50px] mt-6">
      <div class="section-content ">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>

            <app-login-status></app-login-status>

            <app-cart-status></app-cart-status>
            
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
    <!-- <app-product-list></app-product-list> -->

  </div>
</div>


<!-- END PAGE CONTAINER-->
<!-- <footer> -->
  <!-- <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>  cwcwcwcwcwcwcwcwcwcwc -->
<!-- </footer> -->